#blog h4,h2
{
    text-align: center;
}
#blog .contenedor
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog .contenedor article
{
    margin: 15px;
}
#blog img
{
    width: 100%;
    max-width: 280px;
    max-height: 160px;
}