@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
@import url(footer.css);
    
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
   font-family: 'Open Sans', sans-serif; 
}
header
{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
 h1
{
    float: left;
}
.contenedor
{
    width: 98%;
    margin: auto;
}
header .contenedor
{
    display: table;
}
#bienvenidos
{
    text-align: center;
}
@media (min-width:1024px)
{
    .contenedor
    {
        width: 1000px;
    } 
}