 <div class="card-panel">
 {{ title }}
<form ng-submit="SaveNote()">
<div class="input-field">
<input type="text" name="" ng-model="Note.name" placeholder="Nombre">
</div>
<div class="input-field">
<textarea class="materialize-textarea" ng-model="Note.description" placeholder="Descripcion">
</textarea>
</div>
<button type="submit" class="btn waves-effect">{{ button }}</button>
</form>
</div>